/* ipad */
@media (width: 768px) {}

/* phone */
@media (max-width: 768px) {
  .home {
    height: 450px;
    position: relative;
  }

  .home .home-content {
    position: absolute;
    top: 45%;
    left: 10%;
  }

  .home .home-content .text2 {
    font-size: 33px;
    font-weight: 400px;
  }

  .home .home-content .text3 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .container .about-p {
    margin-right: 50px;
  }

  .container .about-p p {
    font-size: 15px;
  }

  .services .card {
    margin-top: 10px;
  }

  .work .card {
    margin-top: 10px;
  }

  .form-row {
    width: 100%;
  }

  .contact {
    padding-bottom: 30px;
  }

  .footer .icon {
    display: flex;
    justify-content: start;
    margin-top: 10px;
  }

  .about .contnet-info .card {
    flex: 40%;
  }

}